* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containers {
    max-width: 430px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.forms {
    width: 100%;
    
}

input[type="text"],
input[type="password"] {
    width: 150%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: -60px;
}

label {
    font-weight: bold;
    margin-left: 30px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4070f4;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #265df2;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}